@import url("./styles/bar.css");
@import url("./styles/colors.css");
@import url("./styles/language.css");
@import url("./styles/launcher.css");
@import url("./styles/metrics.css");
@import url("./styles/power.css");
@import url("./styles/settings.css");
@import url("./styles/time.css");
@import url("./styles/tray.css");
@import url("./styles/workspace.css");

* {
  all: unset;
  color: var(--foreground);
  font-size: unset;
  font-family: 'JetBrains Mono', monospace;
  border-radius: 16px;
}
