
abrt
autostart
Code
copyq
dconf
evolution
gnome-session
go
goa-*
gtk-3.0
gtk-4.0
ibus
nautilus
ow-electron
Postman
pulse
.gsd-keyboard.settings-ported
gnome-initial-setup-done
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.*
VirtualBox
org.gnome.Ptyxis
gnome-boxes
enchant
libvirt
systemd
gedit
connections.db
gh
yelp
borg
libreoffice
obsidian
Ax-Shell
__pycache__
.venv
totem
dleyna-server-service.conf
my-shell
pypoetry
swingmusic
Seafile
remmina
rclone
menus
MongoDB Compass
jxbrowser
hatch
Google
flutter
freerdp
github-copilot
croissnote
beekeeper-studio
Android Open Source Project
tool_state
